<div id='app'>
  <div id='header'>
    <h1><a href="#">Grocery List</a></h1>
    <nav id='navigation' class='nav'></nav>
  </div>
  <div id="content">
    <div id='view-content'></div>
  </div>
  <div id="footer">
    <a target="_blank" href="http://sailsjs.com" class="copyright">Built with Sails.js</a>
  </div>
</div>
