<div id='app'>
  <h1 id="header">
    <a href="/"><%- sails.config.appName %></a>
  </h1>
  <div id="content">
    <nav id='navigation' class='nav'></nav>
    <div id='view-content'></div>
  </div>
  <div id="footer">
    <a target="_blank" href="http://sailsjs.com" class="copyright">Built with Sails.js</a>
  </div>
</div>
